# This is a system level rpmlint config placed to /etc/rpmlint/custom.config
# We do not care about this one:
addFilter ("E: files-attr-not-set")
# This manifested primarily on EL6 after adding newer rpmdevtools for it
# It is not essential to stop deployments, so we ignore it:
addFilter ("E: debuginfo-without-sources")
