# This is a system level rpmlint config placed to /etc/rpmlint/config
# Projects can put their own rpmlint.config at build time over to /etc/rpmlint/custom.config
# to *supplement* this system-wide config

# We do not care about this one in any distro:
addFilter ("E: files-attr-not-set")
# This manifested primarily on EL6 after adding newer rpmdevtools for it
# It is not essential to stop deployments, so we ignore it:
addFilter ("E: debuginfo-without-sources")
